# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
client/node_modules/
server/node_modules/

build/
dist/

# project files
.pnp
.pnp.js

# testing
coverage/

# production
client/build/
server/dist/  # If the server builds files

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# system files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js (if applicable)
.next/
